.container{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

h1{
    text-align: center;
    font-size: 78px;
    font-family: poppins;
}

#display{
    font-size: 72px;
    text-align: center;
    margin: auto;
}

.button{
    text-align: center;
}